# Dependencies
node_modules/

# Build
dist/
reports/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Secrets
.env
.npmrc

# OS
.DS_Store
Thumbs.db

# Local
.stryker-tmp/
local.ts